// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input__bg: #183541;
$input__radius: 6px;

$input--hover: #2f6378;
$input--active: #ffffff;
$input--error: #cd5237;

@import "input";
@import "checkbox";
