// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;
  top: 30px;
  left: 0;

  width: 100%;
}

.header {
  display: flex;
  align-items: center;

  font-weight: $weight-Bold;

  &__nav {
    margin-left: auto;
  }

  &__social {
    display: flex;

    margin-left: auto;
  }
}
