// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;
  top: 30px;
  left: 0;

  width: 100%;
}

.header {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: $weight-Bold;

  &__nav {
    margin-left: auto;

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__social {
    display: flex;

    margin-left: auto;

    @include breakpoint($breakpoint-tablet--large) {
      margin-right: auto;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint($breakpoint-tablet--large) {
      position: absolute;
      top: -15px;
      right: -15px;

      display: block;
    }
  }
}
