// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-darkblue: #264653;

// Цветовая палитра текста
$text-black: #282828;
$text-yellow: #e9c46b;
$text-white: #ffffff;
$text-blue: #9fb3bb;
$text-cyan: #2a9d8e;
