// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  background-image: url("../img/pages/main/hero/background.jpg");
  background-position: center center;
  background-size: cover;

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 130px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    background-image: url("../img/pages/main/hero/background__v2.jpg");
  }

  .container,
  .row,
  .col-7 {
    height: 100%;
  }
}

.hero {
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 35px;

    @include breakpoint($breakpoint-tablet) {
      br {
        display: none;
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button {
        width: 100%;
        max-width: 360px;
      }
    }
  }

  &__partners {
    margin-top: auto;
    margin-bottom: 25px;
  }

  &__picture {
    position: relative;
    z-index: 1;
    width: 425px;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include breakpoint($breakpoint-laptop--medium) {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
    }

    &::before {
      content: url("../img/pages/main/hero/border-1.svg");
      top: 35px;
      right: 25px;
    }

    &::after {
      content: url("../img/pages/main/hero/border-2.svg");
      top: 40px;
      right: 15px;
    }
  }

  &__image {
    width: 100%;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0);
  }
}
