#map {
}

.map {
  background-color: $text-yellow;

  width: 100%;
  height: 100vh;

  display: none;

  &__image {
    position: relative;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: transform 0.3s ease;
  }

  &__points {
    width: 100%;
    height: 100%;
  }

  &__point {
    position: absolute;
    cursor: pointer;

    opacity: 1;
    visibility: visible;

    transition: 0.15s ease;

    &--hide {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      @media (hover: hover) {
        opacity: 0.8;
      }
    }

    &--scene {
      top: calc(50% - 170px);
      left: calc(50% - 400px);
    }

    &--treadmills {
      top: calc(50% - 100px);
      left: calc(50% + 270px);
    }

    &--pavilion {
      bottom: calc(50% - 300px);
      left: calc(50% - 770px);
    }
  }
}
