#survey {
  background-image: url("../img/pages/main/survey/clouds.svg");
  background-repeat: no-repeat;
  background-size: 1825px;
  background-position: center calc(50% - 200px);

  @include breakpoint($breakpoint-tablet--large) {
    background-size: 1000px;
  }

  @include breakpoint($breakpoint-tablet) {
    background-image: url("../img/pages/main/survey/clouds__v2.svg");
    background-position: center calc(50% - 250px);
    background-size: 320px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding-bottom: 120px;
  }

  .container {
    height: 100%;
  }

  @include breakpoint($breakpoint-laptop--large) {
    .button-link {
      display: none;
    }
  }
}

.survey {
  position: relative;
  height: 100%;

  &__title {
    margin-bottom: 50px;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 200px;
    }
  }

  &__background {
  }

  &__form {
    position: relative;
    z-index: 1;
  }

  &__image {
    position: absolute;
    z-index: 0;
    bottom: 0;

    @include breakpoint($breakpoint-tablet) {
      bottom: initial;
    }

    &--1 {
      left: -300px;

      @include breakpoint($breakpoint-laptop--large) {
        left: -200px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        left: -250px;
      }

      @include breakpoint($breakpoint-tablet) {
        top: 135px;
        left: 0;

        width: 150px;
      }
    }

    &--2 {
      right: -50px;

      @include breakpoint($breakpoint-laptop--large) {
        right: 50px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        right: 0;
      }

      @include breakpoint($breakpoint-tablet--large) {
        right: -80px;
      }

      @include breakpoint($breakpoint-tablet) {
        top: 130px;
        right: calc(50% - 100px);

        width: 60px;
      }
    }
  }
}
