.partners {
  display: flex;
  align-items: center;

  @include breakpoint($breakpoint-laptop--medium) {
    display: none;
  }

  &__link {
    transition: 0.15s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
  }
}
