.section {
  position: relative;
  height: calc(100vh - 150px);

  overflow: hidden;
  padding-top: 150px;

  &__title {
    font-size: $font-title-1;
    color: $text-white;

    &--important {
      color: $text-yellow;
    }
  }

  &__description {
    font-size: $font-text-1;
    color: $text-white;

    line-height: 30px;
  }

  &__link {
    position: absolute;
    right: 30px;
    bottom: 65px;
  }
}
