.button-link {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;

  background-color: transparent;

  color: $text-white;
  font-weight: $weight-Bold;

  cursor: pointer;
  text-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);

  @include breakpoint($breakpoint-tablet) {
    display: none;
  }

  &__icon {
    position: relative;
    right: 0;

    margin-left: 20px;
    transition: 0.15s ease;
  }

  &:hover {
    .button-link__icon {
      right: -10px;
    }
  }
}
