.button {
  position: relative;
  z-index: 0;

  display: inline-flex;
  align-items: center;

  outline: none;
  border: none;
  border-radius: 80px;

  padding: 16px 32px;

  background-color: transparent;

  color: $text-white;
  font-weight: $weight-Bold;

  cursor: pointer;
  transition: 0.15s ease;

  &::after {
    content: "";
    position: absolute;

    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 80px;
    opacity: 0;

    background-image: linear-gradient(90deg, #2a9d8e 0%, #264653 100%);
    transition: 0.15s ease;
  }

  &:hover {
    background-color: transparent;
    box-shadow: none;

    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}
