// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button__bg: #cd5237;
$button__border: #f3a261;

$button--hover: #f3a261;

@import "button";
@import "button-primary";
@import "button-outline";
@import "button-link";
